<h1>
  <%= @project.title %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @project.description %>
  </p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<h2>Test Suites</h2>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.test_suites.each do |test_suite| %>
  <tr>
    <td><%= test_suite.title %></td>
    <td><%= link_to 'Show', test_suite %></td>
    <td><%= link_to 'Edit', edit_test_suite_path(test_suite) %></td>
    <td><%= link_to 'Destroy', test_suite, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<p>  
<%= link_to 'New Test Suite', new_project_test_suite_path(@project)  %> 
<p>
