<%= form_for(@test_suite) do |f| %>
  <% if @test_suite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_suite.errors.count, "error") %> prohibited this test_suite from being saved:</h2>

      <ul>
      <% @test_suite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :project_id, :value => params[:project_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
