<div class="page-header">
  <h1>
    <%= @test_suite.title %>
    <small>
      <%= link_to 'edit', edit_project_test_suite_path(@test_suite) %>
    </small>
  </h1>
</div>

<% if notice %>
<div class="alert">
  <a class="close" data-dismiss="alert">×</a>
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<dl>
  <dt>Project:</dt>
  <dd><%= @test_suite.project.title %></dd>
  <dt>Description:</dt>
  <dd><%= @test_suite.description %></dd>
</dl>

<h2>Test Cases</h2>

<% if @test_suite.test_cases.empty? == false %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @test_suite.test_cases.each do |test_case| %>
      <tr>
        <td><%= link_to test_case.title, test_case %></td>
        <td><%= link_to raw('<i class="icon-edit"></i>edit'), edit_test_case_path(test_case), :class => 'btn btn-small' %></td>
        <td><%= link_to raw('<i class="icon-trash"></i>trash'), test_case, method: :delete, :class => 'btn btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-info">
    <p>
    <%= @test_suite.title %> has no test cases.
    <%= link_to 'Create one!', new_test_suite_test_case_path(@test_suite) %>
    </p>
  </div>
<% end %>

<%= link_to raw('<i class="icon-plus icon-white"></i>&nbsp;Test Case'), new_test_suite_test_case_path(@test_suite), :class => 'btn btn-success'%> 
