<%= form_for(@test_case) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :setup %>
    <%= f.text_area :setup, :size => '5x5' %>
    <%= f.label :test_plan %>
    <%= f.text_area :test_plan, :size => '5x5' %>
    <%= f.label :expected_results %>
    <%= f.text_area :expected_results, :size => '5x5' %>
    <%= f.hidden_field :test_suite_id, :value => (@test_case.test_suite_id or params[:test_suite_id]) %><br />
    <%= f.submit "update", :class => 'btn btn-success' %>
<% end %>
