<h1>Listing test_cases</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Setup</th>
    <th>Test plan</th>
    <th>Expected results</th>
    <th>Test suite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_cases.each do |test_case| %>
  <tr>
    <td><%= test_case.title %></td>
    <td><%= test_case.setup %></td>
    <td><%= test_case.test_plan %></td>
    <td><%= test_case.expected_results %></td>
    <td><%= test_case.test_suite %></td>
    <td><%= link_to 'Show', test_case %></td>
    <td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
    <td><%= link_to 'Destroy', test_case, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test case', new_test_case_path %>
