<div class="page-header">
  <h1>
    <%= @test_case.title %>
    <small>
      <%= link_to 'edit', edit_test_case_path(@test_case) %>
    </small>
  </h1>
</div>

<%= render :partial => 'shared/notice_display', :notice => notice %>

<dl>
  <dt>Test suite:</dt>
  <dd><%= link_to @test_case.test_suite.title, test_suite_path %></dd>
</dl>

<dl>
  <dt>Setup:</dt>
  <dd><%= @test_case.setup %></dd>
</dl>

<dl>
  <dt>Test plan:</dt>
  <dd><%= @test_case.test_plan %></dd>
</dl>

<dl>
  <dt>Expected results:</dt>
  <dd><%= @test_case.expected_results %></dd>
</dl>
