<!DOCTYPE html>
<html>
<head>
  <title>Litmus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Litmus', '/', :class => "brand" %>
      <ul class="nav">
        <li class="active">
        <link
        </li>
        <li>
        <%= link_to 'Projects', '/projects'%>
        </li>
      </ul>
      <form class="navbar-search pull-left" action="search">
          <input type="text" class="search-query" placeholder="Search">
      </form>
      <ul class="nav pull-right">
        <li><a href="/sign_in">Sign In</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" >
      <!--Sidebar content-->
      <div class="page-header">
        <h1>sidebar</h1>
      </div>
    </div>
    <div class="span10">
      <!--Body content-->
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
